.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: start;
}

.title {
  margin: 0;
}

#top-title {
  margin-top: 16px;
  margin-bottom: 0;
}
