#navbar a.active {
  color: red;
}

#navbar {
  display: flex;
  flex-direction: row;
}
ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.link li {
  list-style: none;
  margin: 0%;
  padding: auto;
  padding-left: 1rem;
}
